*.gem
*.rbc
.bundle
.config
.yardoc
gems.locked
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
*~
mkmf.log
rspec.results
spec/support/generated_pdfs/*.pdf
